/* Shared Styles */
/* * {
    padding: 0;
    margin: 0;
} */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.text-primary {
    color: #FD6E0A;
}
.btn-primary {
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
    cursor: pointer;
}
.btn-outline {
    background-color: transparent;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    cursor: pointer;
    
}
.btn-outline:hover {
    background-color: #FD6E0A;
    border: 1px solid #FD6E0A;
    color: white;
    
    
}
.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
/* Nav Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul {
    display: flex;
    align-items: center;

}
nav li {
    list-style: none;
    margin-right: 50px;

}
nav a {
    text-decoration: none;
}
.nav-underline:hover {
    text-decoration: underline;
}
/* Header */
.header {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}
.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content {
    max-width: 500px;
}
.banner .profile-picture {
    width: 500px;

}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-des {
    margin-bottom: 25px;
}

/* Main Section */
main {
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/* About Section */
.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin: 130px 0;
}
.about-info-container {
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.about-info > .info {
    font-weight: 400;
}
.about-info > .info-description {
    font-weight: 600;
}

/* What I do */
#what-i-do-des{
    padding: 25px 150px;
}
.skills-container {
    display: flex;
    gap: 24px;
}
.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skill-des {
    color: #757575;
}

/* Resume section */
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;

}
.resume-container {
    display: flex;
    gap: 50px;
}
.resume-container hr{
    margin: 30px;
}
.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item-ins{
    color: #757575;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
}
.resume-item-des{
    color:#757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* Footer section */
footer {
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 100px;
}
.footer-column {
    width: 50%;
}
.social-links a {
    margin-right: 25px;
}
.contact input[type="text"], input[type="email"],textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background-color: white;
    border: 0;
    width: 100%;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.contact textarea {
    resize: vertical;
    width: 100%;
}
.hide {
    display: none;
}

/* Reponsive Web Design */
@media screen and (max-width: 576px) {
    .skills-container {
        flex-direction: column;
    }
    #what-i-do-des {
        padding: 20px;
    }
}